<div className="dynamic-menu">
    <div className="row">
        <form class="col s12" (ngSubmit)="onSubmit()" #placeForm="ngForm" >
            <h2>Add new place</h2>

            <div className="row">
                <div class="input-field col s12">
                    <input type="text"  [(ngModel)]="place.title" placeholder="Title" required/>
                    <label >Title</label>
                </div>
            </div>

            <div className="row">
                <div class="input-field col s12">
                    <input type="text"  [(ngModel)]="place.address" placeholder="Address" required/>
                    <label> Address</label>
                </div>
            </div>

            <div className="row">
                <div class="input-field col s12">
                    <input type="text"  [(ngModel)]="place.latitude" placeholder="Latitude" required/>
                    <label >Latitude</label>
                </div>
            </div>      

            <div className="row">
                <div class="input-field col s12">
                    <input type="text"  [(ngModel)]="place.longitude" placeholder="Longitude" required/>
                    <label >Longitude</label>
                </div>
            </div>      

            <div className="row">
                <div class="input-field col s12">
                    <!-- <input type="submit" className="waves-effect waves-light btn" value="Save" onClick={this.handleSubmit} /> -->
                    <button type="submit" class="btn btn-default" [disabled]="!placeForm.form.valid">Submit</button>
                </div>
            </div>

            a

        </form>
    </div>
</div>